---
title: Events
---

<div class="events">
  <% data.events.each do |event, event_data| %>
    <h2><%= event %></h2>
    <%= link_to "Website", event_data.url %>
    <ul>
    <% data.videos[event].each do |video| %>
      <li><em><%= video.speakers.join(", ") %></em> - <%= video.title %></li>
    <% end %>
    </ul>
  <% end %>
</div>
