---
title: Events
---

<div class="events">
  <% data.events.to_a.reverse.each do |event, event_data| %>
    <h2><%= link_to event, "/events/#{event_data.slug}" %></h2>
    <p>
      <% data.videos[event].each do |video| %>
      	<% if video.speakers.count > 0 %>
      	  <%= video.speakers.join(", ") %> - <%= link_to_video video %> <br/>
      	<% else %>
      	  <%= link_to_video video %> <br/>
      	<% end %>
      <% end %>
    </p>
  <% end %>
</div>
