---
title: Search
---

<h1 class="content-subhead">Search results for “<span id='query'></span>”</h2>
<div>
  <ol id='results'>
  </ol>
</div>
<div id="state"></div>

<script type='text/javascript'>
// strip "?q="
var query = document.location.search.substring(3);
document.getElementById("query").appendChild(document.createTextNode(query));

function fullSearch() {
  search(query, "results", "state")
}

if (loadRequest.readyState !== XMLHttpRequest.DONE) {
  document.getElementById("state").classList.add("busy");
  loadRequest.addEventListener("loadend", fullSearch);
} else {
  // Search now
  fullSearch();
}
</script>
