---
title: About
---

<div>
<blockquote>
  <p>
  http://pyvideo.org  but for ios would be so great
  </p>
  <p>
  Source: <a href="https://twitter.com/nerdonica/status/677138116218523648">@nerdonica</a>
  </p>
</blockquote>

This is the iOS version of <a href="http://pyvideo.org">pyvideo</a>. It's very much a proof of concept. But let's try to get this thing going! If you have videos to submit, please file a <%= link_to 'pull request', github_repo_url %>. If you have ideas for how to make this page better, please help out.
</div>

<h2>Disclaimer</h2>
<p>pomo.tv does not host any of the videos found on this website, all videos are embedded from sources like YouTube, Vimeo, etc. We take care to only embed videos that are published by the copyright holders, but all issues concerning copyright violations should be aimed at the sites hosting the material. Please <%= link_to 'let us know', github_repo_url + '/issues' %> if you find any infringing content though, so that we can remove it too.</p>
