---
title: About
---

<div>
<blockquote>
  <p>
  http://pyvideo.org  but for ios would be so great
  </p>
  <p>
  Source: <a href="https://twitter.com/nerdonica/status/677138116218523648">@nerdonica</a>
  </p>
</blockquote>

This is the iOS version of <a href="http://pyvideo.org">pyvideo</a>. It's very much a proof of concept. But let's try to get this thing going! If you have videos to submit, please file a <%= link_to 'pull request', github_repo_url %>. If you have ideas for how to make this page better, please help out.
</div>
