---
title: About
---

<div>
<blockquote>
  http://pyvideo.org  but for ios would be so great
  Source: <a href="https://twitter.com/nerdonica/status/677138116218523648">@nerdonica</a>
</blockquote>

This is the iOS version of <a href="http://pyvideo.org">pyvideo</a>. It's very much a proof of concept. But let's try to get this thing going! If you have videos to submit, please file a <a href="https://github.com/chriseidhof/ios-videos">pull request</a>. If you have ideas for how to make this page better.
</div>
