---
title: About
---

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://t.co/zWvD1RYUwH">https://t.co/zWvD1RYUwH</a> but for ios would be so great</p>&mdash; Veronica Ray (@nerdonica) <a href="https://twitter.com/nerdonica/status/677138116218523648">December 16, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>This is the iOS/Mac/Swift version of <a href="http://pyvideo.org">pyvideo</a>, made by <a href="https://twitter.com/chriseidhof">Chris Eidhof</a> <a href="<%= github_repo_url %>/graphs/contributors">and friends</a>. It's very much a proof of concept. But let's try to get this thing going! If you have videos to submit, please file a <%= link_to 'pull request', github_repo_url %>. If you have ideas for how to make this website better, please help out.
</p>
