<% if video['direct-link'] %>
  <p class="video-meta"> Slides and Transcript:<br/><%= link_to video['direct-link'], video['direct-link'] %> </p>
<% end %>
<% if video['tags'] && video['tags'].count > 0 %>
  <p class="video-meta">
    Tags: <%= video['tags'].join(", ") %>
  </p>
<% end %>
<div class="video-content">
  <p>
  <%= embed_video video %>
  </p>
</div>
