<div class="video">
  <h3><%= video.title %></h3>
  <div>
    <% video.speakers.each do |s| %>
      <%= s %>
      <% if data.speakers[s] and data.speakers[s]['twitter'] %>
        - <%= link_to('@' + data.speakers[s].twitter, 'http://twitter.com/' + data.speakers[s].twitter) %><br/>
      <% end %>
    <% end %>
  </div>
  <%= embed_video video %>
</div>
