<% if video['direct-link'] %>
  <p class="video-meta"> Slides and Transcript:<br/><%= link_to video['direct-link'], video['direct-link'] %> </p>
<% end %>
<p class="video-meta">
  <% if video['tags'] && video['tags'].count > 0 %>
    Tags:
    <% video['tags'].each do |tag| %>
      <%= link_to tag, "/tags/#{slug_for_tag(tag)}" %>
    <% end %>
  <% else %>
    No tags yet. <a href="https://github.com/chriseidhof/ios-videos">Suggest tags</a>.
  <% end %>
</p>
<% if video.wwdc %>
  <p><%= link_to "Watch on apple.com", video['direct-link'] %></p>
<% else %>
  <div class="video-content">
    <%= embed_video video %>
  </div>
<% end %>
