<% if video['direct-link'] %>
  <p class="video-meta"> Slides and Transcript:<br/><%= link_to video['direct-link'], video['direct-link'] %> </p>
<% end %>
<p class="video-meta">
  <% if video['tags'] && video['tags'].count > 0 %>
    Tags: <%= video['tags'].join(", ") %>
  <% else %>
    No tags yet. <a href="https://github.com/chriseidhof/ios-videos">Suggest tags</a>.
  <% end %>
</p>
<div class="video-content">
  <p>
  <%= embed_video video %>
  </p>
</div>
