---
atom_feed: recent.xml
---

<div class="videos">
  <h1 class="content-subhead">Recently added videos</h1>
  <% data.videos.values.flatten.reverse.take(10).each do |video| %>
    <%= partial :video, :locals => { :video => video } %>
  <% end %>
</div>
